<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.emrizkiem.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".implement.feature.cart.CartActivity"
            android:exported="true" />
        <activity
            android:name=".implement.feature.detail.DetailProductActivity"
            android:exported="true" />
        <activity android:name=".implement.feature.home.HomeActivity" />
        <activity android:name=".implement.feature.register.RegisterActivity" />
        <activity android:name=".implement.feature.login.LoginActivity" />
        <activity android:name=".implement.feature.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".learn.ui.activity.MainActivity" />
        <activity android:name=".learn.ui.fragment.intent.DetailActivity" />
    </application>

</manifest>